<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
  <ion-list>
<ion-item>
  <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <div class="chat-bubble"> {{chat.mensaje}} <div class="chat-bubble-arrow-border"></div>   <div class="chat-bubble-arrow"></div> </div>

    
</ion-item>
<ion-item>
 <div class="chat-bubble2"> {{chat.lastText}} <div class="chat-bubble-arrow-border2"></div>   <div class="chat-bubble-arrow2"></div> </div>
</ion-item>
  </ion-list>
    
  </ion-content>
</ion-view>
