<ion-view view-title="Inicio">
     <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Bienvenido</h1>
     </ion-header-bar>
     <ion-content>
          <div class="list list-inset">
               <label class="item item-input positive">
                    <h3 class="title">Iniciar Sesión</h3>
               </label>
               <label class="item item-input">
                    <input type="text" placeholder="Username or Number">
               </label>
               <label class="item item-input">
                    <input type="password" placeholder="password">
               </label>
               <label class="item item-input">
                    <button class="button button-full button-clear button-positive icon-right ion-chevron-right">
                         Iniciar
                    </button>
               </label>
          </div>
          <div class="list">
               <label class="item item-input">
                    <button class="button button-positive button-clear button-full">
                         <i class="icon-left ion-at">Contactanos</i>
                    </button>
                    <button class="button button-full button-clear button-positive" ng-click="abrirRecuperar()">
                         Olvido la contraseña?
                    </button>
               </label>
          </div>
     </ion-content>
</ion-view>