<ion-modal-view>
     <ion-header-bar>
       <h1 class="title">Recuperar contraseña</h1>
       <div class="buttons">
         <button class="button button-clear" ng-click="cerrarRecuperar()">X</button>
       </div>
     </ion-header-bar>
     <ion-content>
          <form ng-submit="recuperar()">
               <div class="list">
                    <label class="item item-input">
                      <p>Ingrese la dirección de correo a donde se le envira la información de la recuperación de los datos de inicio de sesión.</p>
                    </label>
                    <label class="item item-input">
                         <span class="input-label">Ingrese Correo Electronico</span>
                         <input type="email" ng-model="dataUsuario.email">
                    </label>
                    <label class="item">
                         <button class="button button-block button-positive" type="submit">Enviar</button>
                    </label>
               </div>
          </form>
     </ion-content>
</ion-modal-view>