<form name="signup_form" novalidate ng-submit="signupForm()">
<ion-modal-view>
     <ion-header-bar>
       <div class="buttons">
       <a class="button icon-left ion-chevron-left button-clear " ng-click="cerrarModal(1)">Cancelar</a>
       </div>

       <h1 class="title">Registro de usuario</h1>
       
       <div class="buttons">
       <button  class="button icon-right ion-chevron-right button-calm" type="submit" ng-click="agregarUsuario()">Registrar</button>
       </div>
     </ion-header-bar>
     <ion-content>
           <ion-list>


                    
                <label class="item item-input">
                     <span class="input-label">Nombre*</span>
                     <input type="text" placeholder="Ingrese Nombre" name="name" class="input-label" ng-minlength=3 ng-maxlength=30 ng-model="signup.name" required="true">
                </label>

                 <label class="item item-input">
                     <span class="input-label">Foto de Perfil</span>
                     <input type="text" ng-model="dataUsuario.foto">
                    <div class="upload">
                    <input type="file" class="button icon-right ion-ios-upload-outline" name="upload"/>
                    </div>
                </label>

                 <label class="item item-input">
                     <span class="input-label">Email*</span>
                     <input type="text" placeholder="Ingrese email" name="email" class="input-label" ng-minlength=3 ng-maxlength=30 ng-pattern="/[\w-\.]{3,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/" ng-model="signup.email" required="true">
                </label>

                 <label class="item item-input">
                     <span class="input-label">Contraseña*</span>
                     <input type="password" ng-model="dataUsuario.contra" ng-pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{8,10})$" placeholder="Ingrese contraseña" required="true">
                </label>

                <label class="item item-input">
                     <span class="input-label">Confirmar Contraseña*</span>
                     <input type="password" ng-pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{8,10})$" placeholder="Ingrese contraseña"ng-model="dataUsuario.contra2" required="true">
                </label>

                <label class="item item-input">
                     <span class="input-label">PIN (chat privado)*</span>
                     <input type="number" required="true" ng-pattern="^(?:\+|-)?\d+$" ng-model="dataUsuario.pin">
                </label>

            <div clas="error" ng-show="signup_form.name.$dirty &&  signup_form.name.$invalid"
               <small class="error"
               ng-show="signup_form.name.$error.required">El campo nombre es requerido</small>

                <small class="error"
               ng-show="signup_form.name.$error.minlength">el nombre debe tener mas de tres caracteres</small>
               <small class="error"
               ng-show="signup_form.name.$error.mimaxlength">el nombre debe tener mas de tres caracteres</small>
            </div>
 
            <div clas="error" ng-show="signup_form.email.$dirty &&  signup_form.email.$invalid"
               <small class="error"
               ng-show="signup_form.email.$error.required">El campo email es requerido</small>
                <small class="error"
               ng-show="signup_form.email.$error.minlength">el nombre debe tener mas de tres caracteres</small>
               <small class="error"
               ng-show="signup_form.email.$error.maxlength">el nombre debe tener menos de 30 caracteres</small>
               <small class="error"
               ng-show="signup_form.email.$error.email">el formato del correo debe ser valido</small>
            </div>

            <div clas="error" ng-show="signup_form.email.$dirty &&  signup_form.email.$invalid"
               <small class="error"
               ng-show="signup_form.email.$error.required">El campo email es requerido</small>
                <small class="error"
               ng-show="signup_form.email.$error.minlength">el nombre debe tener mas de tres caracteres</small>
               <small class="error"
               ng-show="signup_form.email.$error.maxlength">el nombre debe tener menos de 30 caracteres</small>
               <small class="error"
               ng-show="signup_form.email.$error.email">el formato del correo debe ser valido</small>
            </div>





           </ion-list>
     </ion-content>
</ion-modal-view>
</form>