<ion-modal-view>
     <ion-header-bar>
       <div class="buttons">
         <button class="button button-clear" ng-click="cerrarModal(1)">Cancelar</button>
       </div>
       <h1 class="title">Registro de usuario</h1>
       <div class="buttons">
         <button class="button button-primary" ng-click="agregarUsuario()">Registrar</button>
       </div>
     </ion-header-bar>
     <ion-content>
           <ion-list>

                <label class="item item-input">
                     <span class="input-label">Nombre</span>
                     <input type="text" ng-model="dataUsuario.Nombre">
                </label>

                 <label class="item item-input">
                     <span class="input-label">Foto Perfil</span>
                     <input type="text" ng-model="dataUsuario.foto">
                </label>

                 <label class="item item-input">
                     <span class="input-label">Email</span>
                     <input type="email" ng-model="dataUsuario.email">
                </label>

                 <label class="item item-input">
                     <span class="input-label">Contraseña</span>
                     <input type="text" ng-model="dataUsuario.contra">
                </label>

                <label class="item item-input">
                     <span class="input-label">Confirmar Contraseña</span>
                     <input type="password" ng-model="dataUsuario.contra2">
                </label>

                <label class="item item-input">
                     <span class="input-label">PIN (chat privado)</span>
                     <input type="number" ng-model="dataUsuario.pin">
                </label>

           </ion-list>
     </ion-content>
</ion-modal-view>