<ion-view view-title="Configuración">
  <ion-content>
<ion-list>	

<!---  NOTIFICACIONES  -->

  <ion-item item-divider>
   <strong> NOTIFICACIONES</strong>
  </ion-item>


		<ion-toggle name="privadas">
		Privadas
		<br>
		Activar Notificaciones de chats privados
		</ion-toggle>


		<ion-toggle name="sonido">
		Sonido
		</ion-toggle>

		<ion-toggle name="vibrar">
		Vibrar
		</ion-toggle>



		<label class="item item-input item-select">
		<div class="input-label">
		Luz del indicador LED
		</div>
		<select>
		<option>Amarillo</option>
		<option selected>Azul</option>
		<option>Rojo</option>
		</select>
		</label>

<!---  CHAT  -->

 <ion-item item-divider>
    <strong>CHATS</strong>
  </ion-item>



 <a class="item" href="#">
    Fondo
  </a>
		
		<ion-toggle>
		Aceptar autom. chat privado
		</ion-toggle>


		<ion-item class="range">
		<label><a>a</a></label>
		<input type="range" name="volume">
		<label><font size=6>a</font></label>
		</ion-item>

		
		<ion-toggle>
		Guardar Historial
		</ion-toggle>


		<a class="item" href="#">
		Eliminar todos los chats
		</a>

		<ion-item item-input>
		<ion-button-bar>
		<a class="button button-block button-clear button-positive" ng-click="cerrarsesion(dataInicio.username)">
		CERRAR SESSION
		</a>
		</ion-button-bar>
		</ion-item>
		
</ion-list>
  </ion-content>
</ion-view>