<ion-view view-title="Contactos">
  <ion-content>
    <ion-list>
          <div class="button-bar">
            <button class="button button-clear button-icon icon ion-ios-personadd-outline col-25" ng-click="abrirModal()"></button>
            <label class="item item-input col-75 ">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" ng-model="busqueda">
            </label>
          </div>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="c in contactos | filter: busqueda | orderBy: 'nombre' " type="item-text-wrap">
        <!-- <img ng-src="{{c.face}}"> -->
        <h2><strong>{{c.nombre}} - </strong>{{c.status}}</h2>
        <p>{{c.email}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
        <ion-option-button class="button-assertive" ng-click="borrar(c)">
          Eliminar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>