<ion-view view-title="Contactos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="c in contactos" type="item-text-wrap">
        <img ng-src="{{c.face}}">
        <h2>{{c.nombre}}</h2>
        <p>{{c.numero}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        
        <ion-option-button class="button-assertive" ng-click="borrar(c)">
          Eliminar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
