<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Contactos Tab -->
  <ion-tab title="Contactos" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/Contactos">
    <ion-nav-view name="tab-Contactos"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Private Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/pchats">
    <ion-nav-view name="tab-Pchats"></ion-nav-view>
  </ion-tab>

  <!-- Perfil Tab -->
  <ion-tab title="Perfil" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>

  <!-- Configuracion Tab -->
  <ion-tab title="Configuración" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/configuracion">
    <ion-nav-view name="tab-configuracion"></ion-nav-view>
  </ion-tab>

</ion-tabs>
